In [22]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM

 Load dataset

In [23]:
train = pd.read_csv("./Lubos_data/dataset/channel_1", sep='\t')
print(train.shape)
train.head()

(629235, 4)

   Unnamed: 0      emg1  time  class
0           0  0.119448     1      0
1           1 -0.072598     2      0
2           2  0.008225     3      0
3           3  0.176191     4      0
4           4  0.038147     5      0

Load all training dataset

In [16]:
train1 = pd.read_csv("./Lubos_data/dataset/channel_1", sep='\t')
train2 = pd.read_csv("./Lubos_data/dataset/channel_2", sep='\t')
train3 = pd.read_csv("./Lubos_data/dataset/channel_3", sep='\t')


train = pd.concat([train1, train2, train3])
print(train.shape)

(1887705, 6)

   Unnamed: 0      emg1  time  class  emg2  emg3
0           0  0.119448     1      0   NaN   NaN
1           1 -0.072598     2      0   NaN   NaN
2           2  0.008225     3      0   NaN   NaN
3           3  0.176191     4      0   NaN   NaN
4           4  0.038147     5      0   NaN   NaN

In [24]:
test = pd.read_csv("./Lubos_data/dataset/channel_16", sep='\t')
print(test.shape)
test.head()

(629235, 4)

   Unnamed: 0     emg16  time  class
0           0  0.146866     1      0
1           1 -0.086665     2      0
2           2  0.062108     3      0
3           3  0.244260     4      0
4           4  0.051498     5      0

Load all testing dataset

In [15]:
test1 = pd.read_csv("./Lubos_data/dataset/channel_14", sep='\t')
test2 = pd.read_csv("./Lubos_data/dataset/channel_15", sep='\t')
test3 = pd.read_csv("./Lubos_data/dataset/channel_16", sep='\t')


test = pd.concat([test1, test2, test3])
print(test.shape)

(1887705, 6)

In [19]:
steps = 50
features = 2

# LSTM with 50 neurons and dropout.

model = Sequential()
model.add(LSTM(50, return_sequences=False, input_shape=(steps, features)))
model.add(Dropout(0.5))
model.add(Dense(3, activation='sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

train the model

In [21]:
model.fit(train["emg1"], train["class"], batch_size=16, epochs=10)

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 50, 2) for input KerasTensor(type_spec=TensorSpec(shape=(None, 50, 2), dtype=tf.float32, name='lstm_1_input'), name='lstm_1_input', description="created by layer 'lstm_1_input'"), but it was called on an input with incompatible shape (None, 1).

ValueError: in user code:

    File "/usr/local/lib/python3.10/site-packages/keras/engine/training.py", line 1160, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.10/site-packages/keras/engine/training.py", line 1146, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.10/site-packages/keras/engine/training.py", line 1135, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.10/site-packages/keras/engine/training.py", line 993, in train_step
        y_pred = self(x, training=True)
    File "/usr/local/lib/python3.10/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/usr/local/lib/python3.10/site-packages/keras/engine/input_spec.py", line 232, in assert_input_compatibility
        raise ValueError(

    ValueError: Exception encountered when calling layer "sequential_1" "                 f"(type Sequential).

    Input 0 of layer "lstm_1" is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 1)

    Call arguments received by layer "sequential_1" "                 f"(type Sequential):
      • inputs=tf.Tensor(shape=(None, 1), dtype=float32)
      • training=True
      • mask=None

test the model

In [ ]:
score = model.evaluate(test[1], test[3], batch_size=16)